/node_modules
/public/hot
/public/storage
/public/files
/public/js/record.js
/public/js/recordP2.js
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
