.image-header {
  position: relative;
  background: url('https://images.unsplash.com/photo-1592571804808-cb63606e4520?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80')
    center center/cover;
  width: 100%;
  height: 300px;
  padding: 20px;
  z-index: 1;
}

.image-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.image-header .img-logo {
  width: 140px;
  display: block;
  margin-left: auto;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: clamp(1.3rem, 2.5vw, 2rem);
  font-weight: 900;
  letter-spacing: 5px;
}

.middle::after {
  content: '';
  display: block;
  width: 60%;
  height: 5px;
  margin: 10px auto 0;
  background: #fff;
}

.image-header .button-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 0 20px;
}
